<!DOCTYPE html>
<html>
  <head>
    <title>JungleDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'jungle_react' %>
    <%= stylesheet_pack_tag 'jungle_react' %>
  </head>

  <body>
  </body>
</html>
